*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.pagepadding{
    padding: 0px 20px;
}
.header{
    height: 100px;
    width: 100%;
    background-color: white;
}
.mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
    
    .icon a{ 
        text-decoration: none;
    }
    
    
   


li{
    color: black !important;
    list-style-type: none;
    padding: 0 20px;
    font-weight: bold;
    
}
#btn{
    width:150px;
    height: 60px;
    color: white !important;
    background-color: #4E0FEA ;
    font-weight: bold;
    border: none;
   
    border-radius: 5px;
}
#btn a{
    text-decoration: none;
    color: white;
    
}
.hehe {
        width: 129px;
        height: 78px;
    font-size: 25px;
    padding: 20px 0;

}



 .web{
    
display: flex;
padding-top: 10px;
align-items: center;
    justify-content: space-around;
 }
 

.left h1{
   
   font-size: 61px;
   max-width: 552px;
   line-height: 64px;
   font-weight: 900px;
   font-style: normal;
   visibility: visible; 
   opacity: 0.8; 

 }
.left p{ 
   font-size: 17px;
   margin-top: 30px;
} 
 .left button{
    background-color: #4E0FEA;
    color: white;
    height: 40px; 
    width: 200px;
    font-weight: 900px ;
    text-align: center;
    font-size: 23px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px dashed #4E0FEA;
    font-style: normal;
    align-items: center;
} 
 
.headline{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    
    margin-top: 60px;
    width: 100%;
    height: 80px;
    background-color:white;
    padding: 10px 0;
}

.bb{
    display: flex;
}
.hua{
    height: 20px;
    width: 20px;
}
img{
    flex: display;
}
.one{
    width: 150px;
    height: 55px;
    margin: 38px;
    padding: 10px;
    
}
.container{
    width: 100%;
    height: 200px;
    border: white solid  20px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    
    

}


.one{
    height: 85px;
    width: 172px;
   margin: 30px;
}
.headingagain{
    font-size: 30px;
    text-align: center;
    opacity: 0.8;
    font-weight: bold;
}
.talent-container{
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    margin-top: auto;

}
.talent-one{
    height: 514px;
    width: 325px ;
    border: black 1px solid;
    margin-top: 40px;
    margin-right: 23px;
    font-size: 20px;
    padding: 20px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
}
.talent-one p{
    font-size: 15px; 
    gap: 10px;
}
.talent-button{
     width: 100%;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   list-style: none;
   border-radius: 50px;
}
.talent-box{
    display: flex;
    justify-content: space-around;
}

.big{
    background-image: url(universe.jpeg);
    width: 100%;
    height:800px;
    border: black solid 10px;
    color: white;
    margin-top: 337px;
}
.container1{
    /* background-image: url(universe.jpeg);
    width: 100%;
    height:800px;
    border: black solid 10px; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: pink; */
    color: white;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
    
    
}
.yes{
    background-color: black;
    opacity: 0.7;
    padding-top: 10px;
    height: 300px;
    width:420px;
    border: black solid 10px;
    border-radius: 20px;
   margin:  10px auto;
    text-align: center;
    
   
   
   
}
/* .heading-bar{
    background-color: #f1f1f1;
    padding:  40px 80px;
    margin: 20px;
    font-size: 80px;
}
.parent{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

border: 2px transparent solid;
margin: 2px 10px ;
}
.talent-box{
    width: 366px;
    height: 206px;
    border: 2px transparent solid;
    margin: auto;
    }
 .talent-box{
   
    text-align: justify;
    
 }   
 .abour
 {
    background-color: #f1f1f1;
    width: 100%;
   
    padding: 20px;

 }

.abour h1{
    text-align: center;
    font-size: 50px;
} */
.abour{
    width: 100%;
    height: 900px;
    background-color: #f1f1f1;
}
.talent-box{
    width: 400px ;
    height: 200px;
    text-align: center;
    border: 2px transparent solid;
    margin:  10px auto;
    padding: 35px 0;
    
}
.parent{
    display: flex;
    
}
h1{
    text-align: center;
    font-size: 70px;
    padding-top: 10px;

}

.hire-left{
    display : flex;
    justify-content: space-around;
    align-items: center;
    
}
.flip{
    display: flex;
    gap: 20px;
   
    
}
.flip img{
    height: 80px; 
    width: 80px;

}
.box-hire{
    width: 460px;
    height: 100px;
    border: 2px transparent solid;
    margin: 50px 0px;
    
}
.apply{
    width: 100%;
    height: 250px;
    background-color: rgb(97 45 242);
    
}
.applyhead h1 {
    color: white;
    text-align: center;
    /* margin: 150px; */
    font-size: 50px;
    padding: 14px;
   
}
/* .hire-btn{
    background-color: blue;
    color: #f1f1f1;
    font-size: large;
} */
.btn-class{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tag{
    color: #f1f1f1;
    height: 50px;
    width: 100px;
    
    align-items: start;
    justify-content: center;
    margin: 40px;
  
}
.ones{
    color: white;
    background-color: blue;
    height: 40px;
    width: 120px;
    border: 2px solid white;
    padding: 2px;
    margin:  50px 0px;
    margin: auto;
    justify-content: space-evenly;

}
footer{
    width: 100%;
    height: 200px;
    background-color: #4E0FEA;
    /* border-top: white 2px solid; */
    }
    .logoend img{
        width: 196px;
        height: 36px;
        object-fit: cover;
        margin: 20px;
    }
    .footer-icon{
        font-size: 25px;
        margin: 0 35px;
        display: flex;
        justify-content: space-between;
        
      
    }
    .foot-bar a{
        height: 20px;
        width: 200px;
        display: flex;
        color: white;
        text-decoration: none;
       
    }
    .foot-bar{
        list-style: none;
        display: flex;
        margin: 10px;
        height: 10px;
    
    }
    
